<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <%# <center><img src="/src/assets/closet_collection_logo.png" alt="logo" /></center> %>
    <h1>Hello, <%= @user.first_name %>! </h1>
    <p>
      You have successfully created a new list on Closet Collection!<br>
    </p>
    <p>
      To view your new list, just follow this link: Coming Soon<%# @url %>.
    </p>
    <p>Happy Organizing!</p>
  </body>
</html>