<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <center><img src="https://raw.githubusercontent.com/closet-manager/closet-manager-be/main/src/assets/closet_collection_logo.png" alt="logo" width="300" height="auto" /></center>
    <h1>Hello, <%= @user.first_name %>! </h1>
    <p><font size="+1">
      You have successfully created <%= @list.name %> on Closet Collection!<br>
    </p>
    <p><font size="+1">
      To view your new list, just follow this link: Coming Soon<%# @url %>.
    </p>
    <p><font size="+1">
      Happy Organizing!</p>
  </body>
</html>